@model FeatureSectionModel

<section id="features">
    <div class="container mx-auto mt-16 px-6">
        <h2 class="mb-6 text-4xl font-semibold text-center">
            <sc-text asp-for="Heading"></sc-text>
        </h2><p class="max-w-md mx-auto text-center text-grayishBlue">
           <sc-text asp-for="Description"></sc-text>
        </p>
    </div>
</section>