<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/css/1.420ac54b.chunk.css" rel="stylesheet">
  <link href="/css/main.b16e7b4a.chunk.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet"/>
  <link href="/css/tailwind.css" rel="stylesheet" />

  <sc-editing-context></sc-editing-context>
  <sc-visitor-identification></sc-visitor-identification>
</head>
<body>
    <div id="root">
        @RenderBody()
    </div>
    
</body>
</html>
